body{
    background:#0a90c5
}
.calendar{
    text-align: center;
}

table{
    margin: auto;
}

.month th{
    border-left:5px dotted rgb(170, 158, 236);
    border-right:5px dotted rgb(83, 54, 243);
    border-bottom:5px dotted rgb(83, 54, 243);
    border-top:5px dotted rgb(83, 54, 243);
    width:200px;
    height:75px;
    font-size: 200%
}
.month td{
    border-left:5px solid rgb(105, 119, 121);
    border-right:5px solid rgb(83, 54, 243);
    border-bottom:5px solid rgb(83, 54, 243);
    border-top:5px solid rgb(34, 25, 85);
    width:200px;
    height:75px;
    font-size: 200%
}